div.transaction {
	width:100%;
}

div.in {
	width:48%;
	float:left;
}

div.out {
	width:48%;
	float:right;
}

table.data {
	border:0px;
	width:100%;
}

th.title {
	padding-bottom:10px;
	font-size:18px;
}

img.edit {
	display:none;
}

img.cancel {
	display:none;
}

img.save {
	display:none;
}

img.new {
	display:block;	
}

tr {
	height:30px;
}