<div class="transaction">
	<div class="in" id="LOL">
		<table id="in">
			<tr>
				<th>
					<%= image_tag "in.png" %>
				</th>
				<th></th>
				<th class="title">
					Entradas
				</th>
				<th></th>
			</tr>
			<tr>
				<th></th>
				<th>Nº </th>
				<th>Descrição</th>
				<th>Valor</th>
			</tr>
			<tr class="record">
				<td class="edit"><%= image_tag "edit.png"%></td>
				<td>123AB </td>
				<td>Cheques do Senhor Silva</td>
				<td align="right">4000€</td>
			</tr>
			<tr class="record">
				<td class="edit"><%= image_tag "edit.png"%></td>
				<td>123AB </td>
				<td>Cheques do Senhor Silva, o papa ranho, o que faz coco no penico que nao paga ha meses</td>
				<td align="right">4000€</td>
			</tr>
			<tr>
				<td><%= image_tag "new.png", :id => "new" %></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class="out">
	</div>
</div>